    <div class="credits text-center">
        <p>
            <a href="http://www.ustream.tv/nasahdtv">Intro to Web Hacking brought to you by --> WCS</a>
        </p>
        <p>
            <a href="http://lmgtfy.com/?q=security+is+cool+bitch">SDL Domain</a>
        </p>
    </div>
</body>
</html>
